//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.header { 
display: inline-block;
margin: 5% 0 5% 0;
text-align: center;


}



.container {
  background-color: red;
  width:50vw;
  height:50vh;
  position: relative;
}


.child{
  background-color: yellow;
  Width: 25vw;
  Height: 25vh;
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}
  
input {
  width: 100%;
  height: 56px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid black;

}

input:focus {
  border: 2px solid #1D70B8;
  outline: none;
}

::placeholder {
  color: #505A5F;
  font-size: 16px;
}

.fa-solid {
  padding-top: 8px;
}

.column-left {
  float: left;
  width: 85%;
}

.column-right {
  float: right;
  width: 15%;
}

.examples{
  padding-top: 70px;
  font-size: 14px;
  color: grey;
}

.sticky {
  position: sticky;
  bottom: 0;
  padding-bottom: 10px;


}

@media screen and (min-width: 601px) {
	h1 {
	    font-size: 50px;
	}
}