//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.govuk-heading-xl {
	font-size: 80px;
	margin: 0 auto;
	display: block;
	margin: 5% auto;
	text-align: center;
}
@media screen and (min-width: 380px) { .govuk-heading-xl { font-size: 95px; } }
@media screen and (min-width: 440px) { .govuk-heading-xl { font-size: 110px; } }
@media screen and (min-width: 601px) { .govuk-heading-xl { font-size: 160px; } }


.govuk-list--number > li {
margin-bottom: 24px;
}

.govuk-input, .govuk-button {
  height: 56px;
  padding: 10px;
  box-sizing: border-box;
}  
.govuk-input {
  border: 2px solid black;
}
.govuk-input:focus {
  border: 2px solid #1D70B8;
  outline: none;
}
::placeholder {
  color: #505A5F;
}

.fa-solid {
  padding-top: 8px;
}

.column-left {
  float: left;
  width: 85%;
}

.column-right {
  float: right;
  width: 15%;
}
.column-right .govuk-button {
	line-height: 34px;
}

.examples{
  padding-top: 70px;
  font-size: 14px;
  color: grey;
}

.chat-text-box {
	position: fixed;
	bottom: 0;
	background-color: white;
	z-index: 10000;
  padding:30px;

  box-shadow:0 0px 16px rgba(#000, 0.19);
  overflow: hidden;
  left: 0;
  right: 0;
}

.chat-conversation__author {
	font-weight: bold;
}
.chat-conversation__message-box {
	border-top: 1px solid grey;
}