//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.container {
height: 60vh;



}
.subtitle{
max-width: 700px;
}


.govuk-heading-xl {
	font-size: 60px;
	margin: 0 auto;
	display: block;
	margin: 5% auto 16px auto;
	text-align: left;
}
@media screen and (min-width: 380px) { .govuk-heading-xl { font-size: 40px; line-height: 0.9; } }
@media screen and (min-width: 440px) { .govuk-heading-xl { font-size: 80px; } }
@media screen and (min-width: 601px) { .govuk-heading-xl { font-size: 120px; } }

@media screen and (min-width: 380px) { .subtitle { margin-top: 0px; } }



.govuk-list--number > li {
margin-bottom: 24px;
}

.govuk-body{
  text-align: left;
}
.govuk-input, .govuk-button {
  height: 56px;
  padding: 10px;
  box-sizing: border-box;
 
}  
.govuk-input {
  border: 2px solid black;

}
.govuk-input:focus {
  border: 2px solid #1D70B8;
  outline: none;
}
::placeholder {
  color: #505A5F;
}

.fa-solid {
  margin: auto;
}


.govuk-header__container{
/*Not sure we can tweak this to add the menu browse and account icon. I found this class using the inspector tool*/

}


.column-left {
  float: left;
  width: 85%;
}

.column-right {
  float: right;
  width: 15%;
}

@media screen and (min-width: 800px) { .column-left { width:60% } }
@media screen and (min-width: 800px) { .column-right { width:40% } }


.column-right .govuk-button {
	line-height: 34px;
  background-color: 	#1d70b8;
  height: 54px;

}

.examples{
  padding-top: 70px;
  font-size: 14px;
  color: grey;
}

.chat-text-box {
	position: fixed;
	bottom: 0;
	background-color: white;
	z-index: 10000;
  padding:30px;
  box-shadow:0 0px 16px rgba(#000, 0.19);
  overflow: hidden;
  left: 0;
  right: 0;
}

.chat-conversation__author {
	font-weight: bold;
}
.chat-conversation__message-box {
	border-top: 1px solid grey;
  padding-top: 16px;
}


.input-content{
  max-width: 640px;
  margin: auto;
}



