{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="container">

  <h1 class="govuk-heading-xl">
    Welcome to GOV.UK
  </h1>
  <div class="subtitle">
    <p class="govuk-body govuk-!-font-size-36">The best place to find government services and information</p>
  </div>

  <br>
  <form>
    <label class="govuk-label" for="event-name" style="font-weight: 800;">
    What do you need to do today?
    </label>
    <div class="column-left">
      <input class="govuk-input" id="chat-input" name="chat-input" type="text">
    </div>   
    <div class="column-right">
    <button type="submit"  class="govuk-button govuk-button--start">Search</button>
    </div>
    <!--<p class="examples">
      Examples: "I want to check my pension state", "I need to sign in to my HMRC account", "When is the next bank holiday?"
    </p>-->
  </form>

</div>
{% endblock %}