{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<script src="https://kit.fontawesome.com/48f7dee934.js" crossorigin="anonymous"></script>

<style>
  .header { 
  display: inline-block;
  margin: 5% 0 5% 0;
  text-align: center;
  
    
  }



  .govuk-grid-row {
    margin: 8px;
  }
  
input {
  width: 100%;
  height: 56px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid black;

}

input:focus {
  border: 2px solid #1D70B8;
  outline: none;
}

::placeholder {
  color: #505A5F;
  font-size: 16px;
}

.fa-solid {
 
  padding-top: 8px;
}

.column-left {
  float: left;
  width: 85%;


}

.column-right {
  float: right;
  width: 15%;
}

.examples{
  padding-top: 70px;
  font-size: 14px;
  color: grey;
}

@media screen and (min-width: 601px) 
            h1 {
                font-size: 50px;
            }
  </style>


  
 

    <div class="govuk-grid-row" style="width: 100%;">
      <div class="header">
        <h1 class="govuk-heading-xl" style="font-size: 120px;" style="text-align: center;">
         GOV.UK
         </h1>
       </div>
      <p style="max-width: 650px;">
        👋 Welcome to GOV.UK, the best place to find government services and information. Ask any question to get up to speed with what you need to do.
      </p>
      
      <form style="max-width: 650px;">
       <div class="column-left">
        <input class="govuk-input" id="event-name" name="event-name" type="text" placeholder="What do you need to do today?" style="height: 56px;">
        </div>   

        <div class="column-right">
          <a href="/result-step-by-step" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="height:54px">
          <i class="fa-solid fa-paper-plane fa-s"></i> </a>
        </div>
        <p class="examples">
          Examples: "I want to check my pension state", "I need to sign in to my HMRC account", "When is the next bank holiday?"
         </p>
      </form>
<div>
      <div>
   
      </div>
 
    </div>


{% endblock %}
