{% extends "layouts/main.html" %}


{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<script src="https://kit.fontawesome.com/48f7dee934.js" crossorigin="anonymous"></script>


<div class="container container--homepage">

  <div class="govuk-phase-banner govuk-phase-banner--chat">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Mobile prototype
      </strong>
      <span class="govuk-phase-banner__text ">
        This is a prototype that only works on mobile. It won’t work properly on a tablet or a laptop.
      </span>
    </p>
  </div>

  <h1 class="govuk-heading-xl">
    Welcome to GOV.UK
  </h1>
  <div class="subtitle">
    <p class="govuk-body govuk-!-font-size-36">The best place to find government services and information</p>
  </div>

  <br>
  <form>
    <label class="govuk-label" for="event-name" style="font-weight: 800;">
    What do you need to do today?
    </label>
    <div class="column-left">
      <input class="govuk-input" id="chat-input" name="chat-input" type="text">
    </div>   
    <div class="column-right">
    <button type="submit"  class="govuk-button govuk-button--start"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
    </div>
    <!--<p class="examples">
      Examples: "I want to check my pension state", "I need to sign in to my HMRC account", "When is the next bank holiday?"
    </p>-->
  </form>

</div>
{% endblock %}